﻿@using PagedList;
@using PagedList.Mvc
@model  IPagedList<Susti709912.Domain.Proyecto>
<style>
    th, td {
        text-align: center;
    }
</style>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SingleOrDefault().Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SingleOrDefault().Supervisor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SingleOrDefault().Apr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SingleOrDefault().FechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SingleOrDefault().FechaFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SingleOrDefault().IsActivo)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supervisor.NombresCompletos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apr.NombresCompletos)
            </td>
            <td>
                @item.FechaInicio.ToShortDateString()
            </td>
            <td>
                @item.FechaFin.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActivo)
             </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
    {
        UpdateTargetId = "search_result",
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace
    }))
