﻿@{
    ViewBag.Title = "Index";
}
@using PagedList;

@model  IPagedList<Susti709912.Domain.Proyecto>
<h2>Proyectos</h2>


<div class="row">
    <div class="col-sm-9">
        @using (Ajax.BeginForm("Index", new AjaxOptions
        {
            UpdateTargetId = "search_result",
            HttpMethod = "Get",
            InsertionMode = InsertionMode.Replace

        }))
        {<div class="form-inline">
            <div class="form-group">
                @Html.Label("fechaInicio", "Fecha Inicio")
                @Html.TextBox("fechaInicio", null, new { @class = "form-control" })

            </div>
            <div class="form-group">
                @Html.Label("fechaFin", "Fecha Fin")
                @Html.TextBox("fechaFin", null, new { @class = "form-control" })
            </div>
            <button class="btn btn-danger">Buscar</button>
        </div>
            <br>
        }
        <div id="search_result">
            @Html.Partial("_Index", Model)
        </div>
        <div>
            @Html.ActionLink("Registrar Nuevo Proyecto", "CrearProyecto", null, new { @class = "btn btn-success" })
        </div>
    </div>
</div>
